h1 {
  color: rgb(153, 148, 230);
}

p {
  color: rgb(255, 195, 195);
}

h3 {
  color: coral;
}

body {
  background-color: rgb(16, 138, 168);
  font-family: sans-serif;
  text-align: center;
  margin-left: 42%;
  margin-right: 35%;
  padding: 70px;
  border-color: white;
  border-style: dashed;
}